{namespace neos=Neos\Neos\ViewHelpers}
<div class="neos-content neos-container-fluid">
    <div class="neos-notification-container">
        <f:render partial="FlashMessages"/>
    </div>
    <div class="neos-row-fluid">
        <div class="neos-span12">
            <h1>
                <f:translate id="module.label" source="Backend" package="LegalWeb.GdprTools"/>
            </h1>
            <f:form action="update" method="post">
                <div class="neos-row-fluid">
                    <div class="neos-span6">
                        <fieldset>
                            <div class="neos-control-group">
                                <div class="neos-controls">
                                    <f:form.submit value="{neos:backend.translate(id: 'updateNow', source: 'Backend', package: 'LegalWeb.GdprTools')}" class="neos-button neos-button-primary" />
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </f:form>
        </div>
    </div>
    <div class="neos-row-fluid">
        <div class="neos-span12">
            <h2>
                <f:translate id="datasetsHeadline" source="Backend" package="LegalWeb.GdprTools"/>
            </h2>
            <f:if condition="{datasets}">
                <f:then>
                    <f:for each="{datasets}" as="dataset">
                        <h3>{dataset.configurationKey}</h3>
                        <p><f:translate id="latestUpdate" source="Backend" package="LegalWeb.GdprTools" arguments="{0: dataset.creationDateTime}"/><br /></p>
                        <p><f:translate id="domainId" source="Backend" package="LegalWeb.GdprTools" arguments="{0: dataset.domainId}"/><br /></p>
                        <p><f:link.action action="show" format="json" arguments="{id: dataset.persistenceObjectIdentifier}" target="_blank"><f:translate id="showData" source="Backend" package="LegalWeb.GdprTools" /></f:link.action></p>
                    </f:for>
                </f:then>
                <f:else>
                    <p><f:translate id="noLatestUpdate" source="Backend" package="LegalWeb.GdprTools"/></p>
                </f:else>
            </f:if>
        </div>
    </div>
    <div class="neos-row-fluid">
        <div class="neos-span12">
            <h2>
                <f:translate id="messagesHeadline" source="Backend" package="LegalWeb.GdprTools"/>
            </h2>
            <f:if condition="{messages}">
                <f:then>
                    <ul>
                        <f:for each="{messages}" as="message">
                            <li>{message}</li>
                        </f:for>
                    </ul>
                </f:then>
                <f:else>
                    <p>
                        <f:translate id="noMessages" source="Backend" package="LegalWeb.GdprTools"/>
                    </p>
                </f:else>
            </f:if>
        </div>
    </div>
</div>
