<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutOutputDuringTests="true"
    timeoutForSmallTests="0"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
>
    <testsuites>
        <testsuite name="unit">
            <directory>./Tests/Unit</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="date.timezone" value="Europe/Vienna"/>
    </php>
</phpunit>
